<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title>Shifumi</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>Shifumi</h1>
    <div id="buttons">
      <button onclick="play('rock')">
        <img src="/static/img/rock.svg" alt="Rock" width="64" height="64">
      </button>
      <button onclick="play('paper')">
        <img src="/static/img/paper.svg" alt="Paper" width="64" height="64">
      </button>
      <button onclick="play('scissors')">
        <img src="/static/img/scissors.svg" alt="Scissors" width="64" height="64">
      </button>
    </div>
    <div id="result"></div>
    <script src="/static/script.js"></script>
  </body>
</html>
